<%- include('partials/header') %>


<div class="jumbotron centered title-bar">
  <div class="container">
    <h1 class="title-j2np">ZIEN</h1>
    <br>
    <a class="btn btn-dark btn-lg home-buttons" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg home-buttons" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
