<%- include('partials/header') %>

<div class="title-bar">
  <div>
   <p id="MyClockDisplay" class="clock" onload="showTime()"></p><p class="greeting_user" id="greet" ></p>
  </div><br><br>
  <nav class="navbar navbar-expand-lg">
    <a class="nav-link active title-text" aria-current="page" href="https://www.facebook.com/ZIEN-Automobiles-103937945032001/"><i class="footer-icon fab fa-facebook-f"></i></a>
    <a class="nav-link title-text" href="https://www.instagram.com/zienautomobile/"><i class=" footer-icon fab fa-instagram"></i></a>
    <a class="nav-link title-text" href="https://twitter.com/AutomobilesZien/status/1352829419778265088"><i class="footer-icon fab fa-twitter"></i></a>
    <a class="nav-link title-text" href="mailto:companyzien@gmail.com"><i class="footer-icon fas fa-envelope"></i></a>
    <a class="nav-link title-text login-button" href="/logout" role="button">Log Out!</a>
  </nav>

  <br><br>
  <h1 class="title-j2np">ZIEN</h1><br /><br />
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active title-text" aria-current="page" href="/recom">Recommendations</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link title-text" href="/service">Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link title-text" href="/accessories">Accessories</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropbtn title-text">Buy</a>
      <div class="dropdown-content">
        <a class="nav-link title-text" href="/buyCar">Car</a>
        <a class="nav-link title-text" href="/buyBike">Bike</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link title-text" href="/sell">Sell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link title-text" href="/feedback">Feedback</a>
    </li>
    <li class="nav-item">
      <a class="nav-link title-text" href="/booking">Doorstep Test Drive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link title-text" href="/terms-and-conditions">Terms & Conditions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link title-text" href="/policy">Our Policy</a>
    </li>
  </ul>
</div>

<!-- carousel trending cars -->
<div class="trending-cars-carousel">
<div id="carouselExampleDark" class="carousel carousel-dark slide trending-cars" data-bs-ride="carousel">
  <h1 class="trending-cars-text">TRENDING CARS</h1>
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="/images/tf.jpg" class="d-block w-100" alt="tf.jpg" width="100" height="400" />
      <div class="carousel-caption d-none d-md-block">
        <h5>First</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/cargif.jpg" class="d-block w-100" alt="cargif.jpg" width="100" height="400" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/tc.jpg" class="d-block w-100" alt="tc.jpg" width="100" height="400" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>

<!-- carousel Our founders -->
<div class="our-founders-carousel">
<div id="carouselExampleCaptions" class="carousel slide our-founders" data-bs-ride="carousel">
  <h1 class="our-founders-title">OUR FOUNDERS</h1>
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <center><img src="/images/John.png" class="d-block our-founders-images" alt="Mr. John Paul B" />
      </center><br><br><br><br>
      <div class="carousel-caption d-none d-md-block">
        <h5>Mr. John Paul B</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <center><img src="/images/Ning.jpg" class="d-block our-founders-images" alt="Miss. Thanatchaporn Rungmongkolsup"></center><br /><br /><br /><br />
      <div class="carousel-caption d-none d-md-block">
        <h5>Miss. Thanatchaporn Rungmongkolsup</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <center><img src="images/Jonci.jpg" class="d-block our-founders-images" alt="Miss. Jonci Singh"></center><br /><br /><br /><br />
      <div class="carousel-caption d-none d-md-block">
        <h5>Miss. Jonci Singh</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <center><img src="images/Prachi.jpg" class="d-block our-founders-images" alt="Miss. Prachi Kashyap"></center><br /><br /><br /><br />
      <div class="carousel-caption d-none d-md-block">
        <h5>Miss. Prachi Kashyap</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>

<div class="footer">
  <ul class="nav justify-content-center">
    <li class="nav-item btn btn-outline-dark">
      <center>
      <a class="nav-link reach-out" href="/contact">Reach-out to us!</a>
      </center>
    </li>
  </ul>
  <button class="open-button" onclick="openForm()"><i class="fas fa-headset fa-4x"></i></button>
  <div class="chat-popup" id="myForm">
    <div class="form-container">
      <center><p class="fa-lg chatbot-title">Chat with ZIEN!</p></center>
      <br><br>
      <div id="main">
        <div class="text-break user" id="user"><span>user</span></div><br><br>
        <div class="text-break chatbot" id="chatbot"><span>chatbot</span></div><br><br><br><br>
        <div><input id="input" class="form-control me-2" type="search" placeholder="type something..." aria-label="Search"></div>
      </div><br>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
  </div>
</div>
<p class="Copyright">&copy; ZIEN</p>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/chatbot.js"></script>
<script>

function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
  var greet;

  
  
    
    if(h == 0){
        h = 12;
    }
    
    if (h < 12)
      greet = 'Good Morning!';
  else if (h >= 12 && h <= 16)
      greet = 'Good Afternoon!';
  else if (h >= 16 && h <= 24)
      greet = 'Good Evening!';

  document.getElementById('greet').innerHTML = greet ;

    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();
</script>

<%- include('partials/footer') %>
